@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Reset de estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Inconsolata', monospace;
}

body {
    background: linear-gradient(rgb(255, 255, 255), rgb(126, 125, 125));
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    align-items: center;
    padding: 70px 30px;
    height: 90px;
    justify-content: space-between;
    font-size: 1.1rem;
}

/* Estilos para la lista de navegación */
nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

/* Estilos para el logotipo */
.logo {
    height: 200px;
    width: 200px;
    object-fit: contain;
    cursor: pointer;
}

/*Estilo para el texto central*/
.encabezado {
    width: 80%;
    text-align: left;
    margin-left: 160px;
    padding: 90px 80px;
    font-size: larger;
}

.encabezado p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.encabezado h1 {
    display: block;
    white-space: nowrap;
    border-right: 3px solid;
    width: 27ch;

    /* animacion de texto h1 */
    animation: typing 2s steps(27), blink .5s infinite step-end alternate;
    overflow: hidden;
}

/* animacion de texto h1 */
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Estilos pie de pagina */
footer {
    display: flex;
    width: 80%;
    text-align: left;
    padding: 90px 80px;
}

/* Estilos listas pie o iconos */
footer ul {
    display: flex;
}

footer ul li {
    margin-right: 20px;
}

.pie img {
    height: 40px;
    width: 40px;
}


/* Estilos contenedor see more */
.seeMore {
    display: inline-flex;
    align-items: center;

    /* Animacion texto */
    animation: moveIcon 3s linear infinite;
}

.seeMore a {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: larger;
}

.seeMore svg {
    width: 24px;
    /* Ajusta el tamaño del icono según tus preferencias */
    height: 24px;
    /* Ajusta el tamaño del icono según tus preferencias */
    margin-left: 10px;
    /* Espacio entre el texto y el icono */
}

/* Animacion texto */
@keyframes moveIcon {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(20px);
        /* Distancia que se desplazará */
    }

    100% {
        transform: translate(0);
    }
}